
@media (max-width: 575.98px) {
    .aboutImage{
        margin-right: 6rem;
    }
    .aboutImage::before {
        width: 80%;
        height: 252px;
        left: 50%;
    }
    .aboutImage img {
        max-height: 600px;
        width: 90%;
        margin-left: 3rem;
    }
    .aboutInfo {
    margin:  66px 1rem -32px;
}
.skillWidth{
    width: 100% !important;
}
.Counterbox1{
    margin-left: 0rem !important;
   
}
.Counterbox2{
   margin-left: 10rem !important;
  
}
.skillCard{
    margin-top: 5rem;
    width: 12rem !important;

   }
   .CounterTitle{
    font-size: 15px !important;
}
.aboutImage::before {
	width: 84%;
	height: 270px;
	left: 33%;
}
.aboutImage img {
	max-height: 600px;
	width: 90%;
	margin-left: 1rem;
}

.SliderMain {
    width: 100% !important;
    height: 20% !important;
    background: white !important;
}
.contact-info {
    margin-top: 1.5rem;
   
}
.projectImg img {
	max-width: 80%;
	min-height: 250px;
	border-radius: 15px;
	margin: 0 46px;
	padding: 15px;
}
.projectImg::before {
	content: "";
	position: absolute;
	width: 80%;
	height: 256px;
	left: 2%;
	top: 18%;
	border: 5px solid #ff9a00;
	z-index: -1;
	border-radius: 15px;
	/* bottom: -25px; */
}
.navBarMain {
	margin-left: 0;
	width: 380px;
	background-color: #333;
}
.navItem {
	margin: 8px;
	transition: .3s;
    text-align: start;
	border-bottom: 1px dashed #ddd;
	padding: 7px;
}
.navBarItemScroll {
	margin: 8px;
	transition: .3s;
    text-align: start;
	border-bottom: 1px dashed #ddd;
	padding: 7px;
}
button:focus:not(:focus-visible) {
	outline: 0;
	background: #ff9a00;
}
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
	cursor: pointer;
	background: #fff;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navBarMain {
        margin-left: -1rem;
        width: 720px;
        background-color: #333;
    }
    .navItem {
        margin: 8px;
        transition: .3s;
        text-align: start;
        border-bottom: 1px dashed #ddd;
        padding: 7px;
    }
    .navBarItemScroll {
        margin: 8px;
        transition: .3s;
        text-align: start;
        border-bottom: 1px dashed #ddd;
        padding: 7px;
    }
    .cardWidth {
        padding: -20;
        margin-left: 10rem !important;
    
    }
    .Counterbox1{
        font-size: 20px;
        font-weight: 700;
        margin-left: 0rem !important;
        border: 4px solid #ff9a00 !important;
   }
   .Counterbox2{
       font-size: 20px;
       font-weight: 700;
       margin-left: 12rem !important;
      
   }
   .skillCard{
    width: 11rem !important;

   }
   .CounterFont{  
    font-size: 25px;
}
.CounterTitle{
    font-size: 16px !important;
   
  
}
.StudentName{
    font-size: 16px;
    text-align: center;
}
.StudentDescription{
    padding: 1rem 3rem;
    
}
.aboutImage::before {
	height: 248px;
}

}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .cardWidth {
        width: 17rem !important;
        height: 25rem;
        padding: -20;
    
    }
    .Counterbox1{
        margin-left: -1rem !important;
       
   }
   .Counterbox2{
       margin-left: 14rem !important;
      
   }
   .navBarMain{
    margin-left: 15rem;

}
.projectImg::before {
	content: "";
	position: absolute;
	width: 90%;
	height: 409px;
	left: -4%;
	top: 20%;
	border: 5px solid #ff9a00;
	z-index: -1;
	border-radius: 15px;
}
}


@media (min-width: 1200px) {


}